<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <link rel="stylesheet" href="static\styleM.css">
</head>
<body>
    <div class="grid">
        <div class="login-box">
            <h2>Members</h2>
            <p><strong>Project Under professor:</strong> Yan Yan</p>
            <p><strong>Course:</strong> CS 584</p>
            <h3>Members:</h3>
            <ol>
                <li>Manavkumar Patel</li>
                <li>Nitesha Paatil</li>
            </ol>
            <h3>ID:</h3>
            <ol>
                <li>A20543097</li>
                <li>A20544932</li>
            </ol>
        </div>
    </div>
</body>
</html>
