<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Overview</title>
    <link rel="stylesheet" href="static\styleO.css">
    <style>
        body {
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="grid">
        <div class="login-box">
            <h2>Project Overview</h2>
            <br>
            <br>
            <p>Credit card firms must identify fraudulent transactions in order to prevent their clients from being compelled to pay for items they did not purchase and reduce the risk of default. The solution to these issues lies in the use of data. This is where technological advances, particularly machine learning, come into play. Financial fraud is the illegal manipulation of your finances or deception of you out of money. It is a serious issue that costs billions of dollars annually. Credit card fraud and credit default is increasing along with the surge in internet buying. Machine learning appears to be the answer to our requirement for a reliable method of reducing these scams at an early stage. This paper overlooks the techniques and tools in machine learning to outline credit card fraud, shining a light on what’s working best in the field.</p>
            
            <br>
            <br>
            <h3>Description of the data used in the project</h3>
            <p>The datasets utilized in our project are derived from Kaggle. The first dataset, named “Credit Card Fraud Detection,” originates from the research lab of Universit´e Libre de Bruxelles, while the second dataset, also titled as “Credit Card Fraud Detection,” is sourced from IIIT Bangalore/UpGrad.</p>
            
            <ul>
                <li><strong>Dataset 1:</strong>
                    <ul>
                        <li>Data Source: Kaggle “https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud”</li>
                        <li>Data Collection: The dataset was gathered and analyzed through a collaborative research effort between Worldline and the Machine Learning Group at ULB (Universit´e Libre de Bruxelles), focusing on big data mining and fraud detection.</li>
                        <li>It contains 28 labels which are encrypted by the PCA method.</li>
                        <li>Due to its nature, the dataset does not give valuable information but for prediction is very accurate.</li>
                    </ul>
                </li>
                <br>
                <li><strong>Dataset 2:</strong>
                    <ul>
                        <li>Data Source: Kaggle “https://www.kaggle.com/datasets/mishra5001/credit-card”</li>
                        <li>Data Collection: The Data was collected as part of Social Experiment adhered by a financial institution to provide public inferences of how a person applying for a loan can get it completed in a minimal amount of time.</li>
                        <li>Also, adhering to the facts as to which type of customers fail to repay the installments or full loan and provide inference so that the person applying for loan does not fall into that category.</li>
                        <li>Dataset contains 120 labels which contain a wide range of categories.</li>
                        <li>The accuracy is intact but has different effects of different classifier model as compared to the first dataset.</li>
                    </ul>
                </li>
            </ul>
            
            <br>
            <br>
            <h3>Results</h3>
            <p>Accuracy: 98.37%, Precision: 98.98%, Recall: 80.31%,f1: 88.67%</p>

            </ul>
            
        </div>
    </div>
</body>
</html>
